<!DOCTYPE html>
<html lang="<%- config.language %>">
  <head>
    <%- partial('_partial/head') %>
  </head>

  <body>
    <div class="wrap">
      <header>
        <a href="<%- url_for() %>" class="logo">
          <% if(theme.logo.enabled) { %> 
            <img src="<%= url_for(theme.logo.url) %>" width="<%= theme.logo.width %>" height="<%= theme.logo.height %>" /> 
          <% } %> 
          <div class="logo-wrap">
            <span class="title">
              <%- config.title %> 
            </span>
            <span class="sub">
              <%- config.subtitle %> 
            </span>
          </div>
        </a>
        <%- partial('_partial/nav') %>
      </header>
      <main class="container">
        <%- body %>
      </main>
      <footer>
        <%- partial('_partial/paginator') %>
        <div class="copyright">
          <% 
            var greenbitURL = "https://github.com/rayliao/hexo-theme-greenbit";
            var currentDate = new Date();
            var year = currentDate.getFullYear();
            year = year == theme.startyear ? year : theme.startyear + ' - ' + year; %>
          <p>
            © <%= year %> powered by <a href="https://hexo.io/" target="_blank">hexo</a> and
            <a href="<%- greenbitURL %>" target="_blank">hexo-theme-greenbit</a>.
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
