<meta charset="utf-8">
<meta name="X-UA-Compatible" , content="IE=edge">
<%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
<title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
<% if(config.description){ %>
<meta name="description" content="<%- config.description %>">
<% } %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="image/png" sizes="96x96" rel="icon" href="<%= url_for(theme.favicon) %>">
<%- css('css/style') %>