<div class="post">
    <article class="post-block">
        <h1 class="post-title">
            <%= page.title %>
        </h1>
        <p class="post-date">
            <%= full_date(page.date, 'll') %>
        </p>
        <div class="post-content">
            <%- page.content %>
        </div>
        <div class="post-tags">
            <% if(page.tags && page.tags.length) { %>
                <% page.tags.each(function(tag) { %>
                    <a href="<%- url_for(tag.path) %>"><%= tag.name %></a>
                <% }) %>
            <% } %>
        </div>
    </article>
</div>
<div id="gitalk-container"></div>